a{
    text-align: center;
  }
  
  #submit-card-style {
    border-radius: 6px;
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 25px;
  }
  
  #tab-container {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
  }
  
  
  